@font-face {
    src: url(../fonts/InterBold.otf);
    font-family: 'InterBold';
    font-style: normal;
    font-weight: normal;
}
@font-face {
    src: url(../fonts/InterBlack.otf);
    font-family: 'InterBlack';
    font-style: normal;
    font-weight: normal;
}

body{
    background-color: #353535;
    position: fixed;
    padding: 0;
    margin: 0;
    color: white;
}

.history::-webkit-scrollbar {
    width: 5px;               /* ширина scrollbar */
}
.history::-webkit-scrollbar-track {
    background: #3D7EAA;        /* цвет дорожки */
}
.history::-webkit-scrollbar-thumb {
    background-color: #FFE47A;    /* цвет плашки */
}

img{
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
}

.profile {
    margin-top:140px;
    height: 100%;
    position: fixed;
    z-index: 1;
    background-color: #2b2b2b;
    opacity: 0.9;
    width: 80%;
    margin-left: 10%;
    height: 86%;
    border-radius: 50px;

}

.profile h1{
    font-size: 400%;
    text-align: center;
    margin: 0.5%;
}

.profile h2{
    font-size: 300%;
    text-align: center;
    margin: 0.5%;
}

.history{
    font-family: InterBold;
    font-size: 90%;
    margin-left: 10%;
    margin-bottom: 3%;
    margin-top: 0;
    text-transform: uppercase;
    background-color: #3e3e3e;
    padding: 0;
    height: 80%;
    width: 80%;
    overflow: auto;
    text-align: center;
    border-radius: 0px 0px 36px 36px;
    /*box-shadow: 0 0 10px rgba(0,0,0,0.5); Параметры тени */
}

.historyh1{
    font-family: InterBlack;
}

.history table{
    width: 100%;
}

.profile img{
    background-color: white;
    width: 90%;
    height: auto;
    position: relative;
    border: 5px solid white;
}
.profile a{
    text-decoration: none;
    color: white;
    text-decoration: none;
}

.profile hr{
    text-align: center;
    width: 80%;
    margin-bottom: 1%;
}
.main_data{
    margin-top: 1%;
    margin-left: 10%;
    width: 20%;
    text-align: center;
    float: left;
}

.main_data p{
    text-transform: uppercase;
    margin-top: 1%;
    font-size: 150%;
}
.extra_data{
    margin-right: 10%;
    width: 40%;
    margin-left: auto;
}

.extra_data .info{
    text-align: left;
    text-transform: uppercase;
    font-family: "Arial Black";
    font-size: 250%;
}
.data{
    height: 40%;
}

.firstTR{
    height:38px;
    background-image: linear-gradient(to right, #FFE47A 40%, #3D7EAA 100%);
}

.extra_data{
    padding: 5px;
    border: 1px solid;
    border-image: linear-gradient(20deg, #dcc150 38%, #3D7EAA 65%);
    border-image-slice: 1;
    border-radius:3px;
    font-size: 16px;

}

.line{
    padding:20px 0;
}


.message{
    font-family: InterBold;
    margin-bottom: 5%;
    color: white;
    font-size:40px;
    text-align: center;
}
.message a{
    font-family: InterBold;
    text-decoration: none;
    color: #FFE47A;
    font-size: 40px;
}