@font-face {
    src: url(../fonts/InterBold.otf);
    font-family: 'InterBold';
    font-style: normal;
    font-weight: normal;
}

@font-face {
    src: url(../fonts/InterBlack.otf);
    font-family: 'InterBlack';
    font-style: normal;
    font-weight: normal;
}

body{
    background-color: #353535;
    position: fixed;
    padding: 0;
    margin: 0;
    color: white;
}

.history::-webkit-scrollbar {
    width: 0px;               /* ширина scrollbar */
}
.history::-webkit-scrollbar-track {
    background: #3e3e3e;        /* цвет дорожки */
}
.history::-webkit-scrollbar-thumb {
    background-color: #3e3e3e;    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
}

img{
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
}

.profile {

    height: 96%;
    margin-top: 1.1%;
    position: fixed;
    z-index: 1;
    background-color: #2b2b2b;
    opacity: 0.9;
    width: 80%;
    margin-left: 10%;
    border-radius: 50px;
    font-family: InterBlack;
}

.profile h1{
    font-size: 400%;
    text-align: center;
    margin: 0.5%;
}

.profile h2{
    font-size: 300%;
    text-align: center;
    margin: 0.5%;
}

.history{
    font-family: InterBold;
    padding: 5%;
    font-size: 90%;
    margin-left: 10%;
    margin-bottom: 5%;
    margin-top: 0;
    text-transform: uppercase;
    background-color: #3e3e3e;
    padding: 0;
    height: 35%;
    width: 80%;
    overflow: auto;
    text-align: center;
    border-radius: 0px 0px 30px 30px;
    /*box-shadow: 0 0 10px rgba(0,0,0,0.5); Параметры тени */
}

.historyh1{
    font-family: InterBlack;
}

.history table{
    width: 100%;
}

.profile img{
    background-color: white;
    width: 90%;
    height: auto;
    position: relative;
    border: 5px solid white;
}
.profile a{
    text-decoration: none;
    background-color: #8a24b0;
    box-shadow: 0 0 5px rgba(0,0,0,0.5); /* Параметры тени */
    color: white;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .2em 0.5em;
    border-radius: 3px;
    transition: 0.2s;
}

.profile hr{
    text-align: center;
    width: 80%;
    margin-bottom: 1%;
}
.main_data{
    margin-top: 1%;
    margin-left: 10%;
    width: 20%;
    text-align: center;
    float: left;
}

.main_data p{
    text-transform: uppercase;
    margin-top: 1%;
    font-size: 150%;
}
.extra_data{
    margin-right: 10%;
    width: 40%;
    margin-left: auto;
}

.extra_data .info{
    font-family: InterBlack;
    text-align: left;
    text-transform: uppercase;
    font-size: 250%;
}
.data{
    height: 40%;
}

.firstTR{
    background-image: linear-gradient(to right, #FFE47A 40%, #3D7EAA 100%);
    width: 100%;
}

.extra_data{
    font-family: InterBold;
    padding: 5px;
    border: 1px solid;
    border-image: linear-gradient(20deg, #dcc150 38%, #3D7EAA 65%);
    border-image-slice: 1;
    border-radius:3px;
    font-size: 16px;

}

.bim{
    border-radius: 50%;
}