
@font-face {
    font-family: 'InterBold';
    src: url(../fonts/InterBold.otf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'InterBlack';
    src: url(../fonts/InterBlack.otf);
    font-style: normal;
    font-weight: normal;
}

*{

}

body{
    position: fixed;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

img{
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
    height: 100vh;
    width: 100vw;
}

.registration{
    font-family: InterBlack;
}

.registration-page {
    position: relative;
    z-index: 1;
    background-color: #2d2d2d;
    width: 20vw;
    margin:20vh 37vw;
    padding: 1% 3%;
    text-align: center;
    border-radius: 40px;
    opacity: 0.95;
}
.registration-page input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.registration-page .registration{
    margin: 5%;
    font-size: 45px;
    font-family: InterBlack;
    text-align: center;
    color: #ffffff;
}
.registration-form button{
    font-family: InterBold;
    text-transform: uppercase;
    outline: 0;
    background-image: linear-gradient(to right, #3D7EAA 0%, #FFE47A 51%, #3D7EAA 100%);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 26px;
    cursor: pointer;
    display: block;
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 10px;
}
.registration-form{
    font-family: InterBold;
}

.registration-form button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

input{
    border-radius: 10px;
    font-family: InterBold;
}

.message{
    font-family: InterBold;
    margin-bottom: 7%;
    color: white;
    font-size: 16px;
}
.message a{
    font-family: InterBold;
    font-size: 16px;
    text-decoration: none;
    color: #FFE47A;
}
