/* Обнуление */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    background-color: #100416;
    font-family: "Verdana";
}

.wrapper {
    min-height: 100%;
    opacity: 0;
    transition: opacity 0.8s ease 0s;
}

.wrapper._loaded {
    opacity: 1;
}

.wrapper._loaded .sec_head {
    transition: transform 0.8s ease 0.8s;
    transform: translate(0px, 0px);
}

.wrapper._loaded .page_pagination {
    transform: translate(0px, -50%);
    opacity: 1;
    visibility: visible;
    transition: transform 0.6s ease 0.8s;
}

.wrapper._free .page_pagination {
    transition: all 0.3s ease 0s;
    transform: translate(50px, -50%);
    opacity: 0;
}

/*-------------------------------------------------------------------*/

.sec_head {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 40;
    padding-right: 0px;
    padding-left: 0px;
    transform: translate(0px, -100%);
    background-color: rgba(0, 0, 0, 0.5);
    margin: auto;
}

.sec_head_menu {
}

.sec_menu {
    display: flex;
    min-height: 50px;
    align-items: center;
    margin: 20px 0px 0px 0px;
    padding-top: 60px;

}

.sec_menu_link {
    color: #fff;
    font-size: 20px;
    transition: color 0.3s ease 0s;
    margin: 0px auto 20px;
}

.sec_menu_link._active {
    color: #5e5373;
}


.page {
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 25px 0px 0px 0px;
    top: 0;
    left: 0;
    overflow: hidden;
}


.page_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.page_screen {

}

.page_pagination {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translate(50px, -50%);
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;

}

.page_bullet {
    width: 12px;
    height: 12px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 8px 0px;
    border-radius: 50%;
    transition: background-color 0.3s ease 0s;
}

.page_bullet_active {
    background-color: #5e5373;
}

.page_scroll {
    position: absolute;
    top: 0;
    right: 0;
    width: 4px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.page_drag-scroll {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #5e5373;
    cursor: pointer;
}

/*-------------------------------------*/
.screen {
    flex: 1 0 100%;
    position: relative;
}

.screen_content {
    padding: 100px 25px 25px 25px;
    position: relative;
    z-index: 2;
}

.screen_title {
    font-size: 50px;
    color: #fff;
    margin: 0px 0px 30px 0px;
    display: inline-block;
}

.screen_title_bg {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
}

.screen_body {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.screen_image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.screen_image img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.screen_text {
    font-size: 34px;
    line-height: 130%;
    color: #fff;
    margin-right: 3%;
}

.screen_text p {
    margin: 0px 0px 20px 0px;
}

.screen_text p:last-child {
    margin-bottom: 0;
}

.page_in {
    height: 100%;
}

.swiper-slide {
    font-size: 18px;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 30px;
}

.intro {
    font-size: 36px;
    font-weight: 700;
    /*margin: 0px 0px 30px 0px; */
    margin-top: 8%;
    margin-right: 3%;
    margin-left: 3%;
    color: rgb(56, 16, 84);
}

@media (max-height: 900px) and (max-width: 1600px){
    .screen_text {
        font-size: 22px;
    }
    .intro {
        font-size: 28px;
        margin-top: 15%;
        color: rgb(56, 16, 84);
    }
}
@media (max-height: 720px) or (max-width: 1280px){
    .screen_text {
        font-size: 20px;
    }
    .intro {
        font-size: 26px;
        margin-top: 15%;
        color: rgb(56, 16, 84);
    }
}

@media (max-width: 767px) {
    .screen_title {
        font-size: 46px;
    }

    .screen_text {
        font-size: 12px;
    }

    .page_bullet {
        transform: scale(0);
    }

    .intro {
        font-size: 20px;
        margin-top: 15%;
        color: rgb(56, 16, 84);
    }

    .sec_menu_link {
    }
}

@media (max-width: 490px) {
    .sec_menu{
        margin: 10px 0px 0px 0px;
    }
    .sec_menu_link {
        font-size: 12px;
        margin: 0px auto 10px;
    }
}