*,*:before, *:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    font-family: "Verdana";
}
/*Стили для демонстрации*/
.wrapper{

}

/* Основные стили */

.containerm {
    max-width: 98%;
    margin: 0px auto;
    padding: 0px 10px;
}

.headerm {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.headerm:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #FFE47A 40%, #3D7EAA 100%);
    opacity: 0.8;
    z-index: 2;
}

.headerm_body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}
.headerm_logo {
    flex: 0 0 50px;
    overflow: hidden;
    position: relative;
    z-index: 3;
    border-radius: 50%;
}

.headerm_logo img{
    max-width: 100%;
    display: block;
}

.headerm_burger {
    display: none;
}

.headerm_menu {}

.headerm_list {
    display: flex;
    position: relative;
    z-index: 2;
}

.headerm_list li{
    list-style: none;
    margin: 0px 0px 0px 20px;
}

.headerm_link {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;

}

@media (max-width:767px){
    body.lock{
        overflow: hidden;
    }
    .headerm_body {
        height: 60px;
    }
    .headerm_logo {
        flex: 0 0 50px;
    }
    .headerm_burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }
    .headerm_burger span{
        position: absolute;
        background-color: #fff;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.5s ease 0s;

    }
    .headerm_burger:before,
    .headerm_burger:after{
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.5s ease 0s;
    }
    .headerm_burger:before{
        top: 0;
    }
    .headerm_burger:after{
        bottom: 0;
    }

    .headerm_burger.active span{
        transform: scale(0);
    }

    .headerm_burger.active:before{
        transform:rotate(45deg);
        top: 9px;
    }
    .headerm_burger.active:after{
        transform:rotate(-45deg);
        bottom: 9px;
    }

    .headerm_menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 25%;
        overflow: auto;
        background-color: rgba(43, 43, 43, 1);
        padding: 70px 10px 20px 10px;
        transition: all 0.5s ease 0s;
    }
    .headerm_menu.active{
        top: 0;
    }
    .headerm_list {
        display: block;
    }
    .headerm_list li{
        margin: 10px 0px 40px 0px;
    }
    .headerm_link {
        font-size: 16px;
        color: #fff;
    }
}

.content {
    padding: 200px 0px 0px 0px;
}
.content_text {
    font-size: 18px;
    line-height: 25px;
}
.content_text p{
    margin: 0px 0px 20px 0px;
}
@media (max-width:767px){
    content{
        padding: 70px 0px 0px 0px;
    }
}

/*
@media (min-width: 768px) {
    .buttonlog {
        background-image: linear-gradient(to right, #3D7EAA 0%, #FFE47A 51%, #3D7EAA 100%)
    }

    .buttonlog {
        margin: 10px;
        padding: 10px 45px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        border-radius: 10px;
        display: block;
        z-index: 51;
    }

    .buttonlog:hover {
        background-position: right center; /* change the direction of the change here /
        color: #fff;
        text-decoration: none;
    }
}
*/


.topHeader.hasSlider {
    height: 100%; position: relative;
}

.header {
    padding: 20px 0;
    position: relative;
    z-index: 2;
}

.mainSlider {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
}

.slick-list, .slick-list * {
    height:100%
}
.slick-dotted.slick-slider{
    margin-bottom: 0;
}
.slick-dots{
    bottom:20px;
}
