<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:sec="http://www.springframework.org/schema/security">
<head>
    <title>Австралия</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            th:src="@{https://code.jquery.com/jquery-3.4.1.slim.min.js}"></script>
    <script th:src="@{/jscripts/header.js}"></script>
    <link rel="stylesheet" href="css/style.css" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{css/stylemk.css}">
</head>
<body>
<header class="headerm">
    <div class="containerm">
        <div class="headerm_body">
            <a th:href="@{/}" class="headerm_logo">
                <img th:src="@{/images/logo12.png}" class="headerm_logo">
            </a>
            <div class="headerm_burger">
                <span></span>
            </div>
            <nav class="headerm_menu">
                <ul class="headerm_list">
                    <li>
                        <a sec:authorize="isAnonymous()" th:href="@{/login}" class="headerm_link">Войти</a>
                    </li>
                    <li>
                        <a sec:authorize="isAnonymous()" th:href="@{/registration}" class="headerm_link">Регистрация</a>
                    </li>
                    <li>
                        <p class="headerm_link" sec:authorize="hasAuthority('USER')">Добрый день, <span class="headerm_link" th:text="${name}"></span>
                    </li>
                    <li>
                        <a sec:authorize="not isAnonymous()" th:href="@{/user}" class="headerm_link">Личный кабинет</a>
                    </li>
                    <li>
                        <form th:if="${user != 'anonymous'}" th:action="@{/logout}" method="post">
                            <input class="buttonlogout" type="submit" value="Выйти">
                        </form>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>


<sec_head1 class="sec_head1">
    <sec_nav class="sec_head_menu sec_menu">
        <a class="sec_menu_link"></a>
        <a th:href="@{/australia}" style="color:#FFE47A" class="sec_menu_link">Австралия</a>
        <a class="sec_menu_link"></a>
        <a th:href="@{/usa}" class="sec_menu_link">США</a>
        <a class="sec_menu_link"></a>
        <a th:href="@{/maldives}" class="sec_menu_link">Мальдивы</a>
        <a class="sec_menu_link"></a>
        <a th:href="@{india}" class="sec_menu_link">Индия</a>
        <a class="sec_menu_link"></a>
        <a th:href="@{emirates}" class="sec_menu_link">ОАЭ</a>
        <a class="sec_menu_link"></a>
        <a th:href="@{/orders?country=australia}" class="sec_menu_link tickbut">Билеты</a>
        <a class="sec_menu_link"></a>
    </sec_nav>
</sec_head1>

<!-- Контент -->
<div class="fullscreen">
    <div class="fullscreen__content">
        <h1 class="fullscreen__title _anim-items _anim-no-hide">Австралия</h1>
        <div class="fullscreen__text _anim-items _anim-no-hide">Мальдивы
        </div>
    </div>
    <div class="fullscreen__image">
        <img th:src="@{/images/australiaM.jpg}" alt="">
    </div>
</div>
<div class="page">
    <div class="text">
        <div class="text__container _container">
            <h2 class="text__title">Мальдивы</h2>
            <div class="text__item _anim-items">
                <p class="_anim-show">
                    Мальдивы
                </p>
            </div>
        </div>
        <div class="moments">
            <div class="moments__container _container">
                <a th:href="@{/orders?country=australia}" class="buttonlog">Купить билеты</a>
            </div>
        </div>
    </div>
</div>
</div>
<script th:src="@{/jscripts/scriptmk.js}" type="text/javascript"></script>
</body>
</html>