<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:sec="http://www.springframework.org/schema/security">
<head>

    <!-- Заголовок страницы в браузере -->
    <title>Австралия</title>

    <meta charset="UTF-8">
    <!-- Адаптив -->
    <meta name="viewport" content="width=device-width">
    <style>
        a {
            text-decoration: none;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            th:src="@{https://code.jquery.com/jquery-3.4.1.slim.min.js}"></script>

    <script th:src="@{/jscripts/header.js}"></script>

    <!-- Подключаем CSS -->
    <link rel="stylesheet" href="css/style.css" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{css/stylemk.css}">
    <!-- Кодировка страницы -->

    <!-- Адаптив -->
</head>
<!-- Отображаемое тело страницы -->
<body>
<!-- Оболочка для демонстрации -->
<header class="headerm">
    <div class="containerm">
        <div class="headerm_body">
            <a th:href="@{/}" class="headerm_logo">
                <img th:src="@{/images/logo12.png}" class="headerm_logo">
            </a>
            <div class="headerm_burger">
                <span></span>
            </div>
            <nav class="headerm_menu">
                <ul class="headerm_list">
                    <li>
                        <a sec:authorize="isAnonymous()" th:href="@{/login}" class="headerm_link">Войти</a>
                    </li>
                    <li>
                        <a sec:authorize="isAnonymous()" th:href="@{/registration}" class="headerm_link">Регистрация</a>
                    </li>
                    <li>
                        <p class="headerm_link" sec:authorize="hasAuthority('USER')">Добрый день, <span class="headerm_link" th:text="${name}"></span>
                    </li>
                    <li>
                        <a sec:authorize="not isAnonymous()" th:href="@{/user}" class="headerm_link">Личный кабинет</a>
                    </li>
                    <li>
                        <form th:if="${user != 'anonymous'}" th:action="@{/logout}" method="post">
                            <input class="buttonlogout" type="submit" value="Выйти">
                        </form>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>


<sec_head1 class="sec_head1">
    <sec_nav class="sec_head_menu sec_menu">
        <a class="sec_menu_link"></a>
        <a th:href="@{/australia}" style="color:#FFE47A" class="sec_menu_link">Австралия</a>
        <a class="sec_menu_link"></a>
        <a th:href="@{/usa}" class="sec_menu_link">США</a>
        <a class="sec_menu_link"></a>
        <a th:href="@{/maldives}" class="sec_menu_link">Мальдивы</a>
        <a class="sec_menu_link"></a>
        <a th:href="@{india}" class="sec_menu_link">Индия</a>
        <a class="sec_menu_link"></a>
        <a th:href="@{emirates}" class="sec_menu_link">ОАЭ</a>
        <a class="sec_menu_link"></a>
        <a th:href="@{/orders?country=australia}" class="sec_menu_link tickbut">Билеты</a>
        <a class="sec_menu_link"></a>
    </sec_nav>
</sec_head1>

<!-- Контент -->
<div class="fullscreen">
    <div class="fullscreen__content">
        <h1 class="fullscreen__title _anim-items _anim-no-hide">Австралия</h1>
        <div class="fullscreen__text _anim-items _anim-no-hide">Мальдивы
        </div>
    </div>
    <div class="fullscreen__image">
        <img th:src="@{/images/australiaM.jpg}" alt="">
    </div>
</div>
<div class="page">
    <div class="text">
        <div class="text__container _container">
            <h2 class="text__title">Мальдивы</h2>
            <div class="text__item _anim-items">
                <p class="_anim-show">
                    Мальдивы
                </p>
            </div>
            <br>
            <div class="text__item _anim-items">
                <h2 class="text__title _anim-show">Apple A4</h2>
                <p class="_anim-show">
                    Мальдивы
                </p>
            </div>
            <br>
            <div class="text__item _anim-items">
                <div class="text__item _anim-items">
                    <h2 class="text__title _anim-show">Apple A5</h2>
                    <p class="_anim-show">
                        Мальдивы
                    </p>
                </div>
            </div>
            <br>
            <div class="text__item _anim-items">
                <div class="text__item _anim-items">
                    <h2 class="text__title _anim-show">Apple A6</h2>
                    <p class="_anim-show">
                        Мальдивы
                    </p>
                </div>
            </div>
            <br>
            <div class="list">
                <div class="list__container _container">
                    <h2 class="list__title">Мальдивы</h2>
                    <ul class="list__items">
                        <ul class="list__item _anim-items">
                            <li>Apple A7 — был представлен 10 сентября 2013, вместе с iPhone 5S и является
                                первым
                                64-битным мобильным процессором на ARM архитектуре. Система команд ARMv8
                            </li>
                            <li>Apple A8 — был представлен 9 сентября 2014, вместе с iPhone 6 и
                                является очередным 64-битным мобильным процессором на ARM архитектуре. Система
                                команд ARMv8.
                            </li>
                            <li>Apple A9 — был представлен в сентябре 2015 года вместе с iPhone
                                6s/iPhone 6s Plus. Позже использовался в iPad (5-го поколения) и iPhone SE.
                                Производился в двух вариантах — по техпроцессу 14 нм FinFET Samsung и 16 нм
                                FinFET
                                TSMC. Содержит 2 процессорных ядра с 64-битной архитектурой ARMv8-A,
                                микроархитектурой Twister.
                            </li>
                            <li>Apple A10 Fusion — был представлен 7 сентября 2016 года вместе с iPhone
                                7/iPhone 7 Plus. Также позже начал использоваться в iPad (6-го поколения) и iPad
                                (7-го поколения). В нём используется 4 процессорных ядра, два из которых
                                являются
                                высокопроизводительными, другие два — энергоэффективными. Содержит порядка 3.3
                                млрд
                                транзисторов.
                            </li>
                            <li>Apple A11 Bionic — был представлен 12 сентября 2017 вместе с iPhone 8,
                                iPhone 8 Plus и iPhone X.
                                Содержит 6 вычислительных ядер, из которых 2 ядра являются производительными, а
                                4 —
                                энергоэффективными. Используется 4,3 млрд транзисторов, изготовленных на 10нм
                                техпроцессе FinFET от TSMC.
                                Впервые используется встроенная графика собственного производства (вместо
                                решений от
                                PowerVR).
                            </li>
                            <li>Apple A12 Bionic — был представлен 13 сентября 2018 вместе с iPhone XS,
                                iPhone XS Max, iPhone XR. Позже были выпущены на этом процессоре iPad mini 5,
                                iPad
                                Air 3 и iPad 8

                                Содержит 6 вычислительных ядер, из которых 2 ядра являются производительными, а
                                4 —
                                энергоэффективными. Используется 6,9 млрд транзисторов, изготовленных на 7-нм
                                техпроцессе от TSMC.
                            </li>
                            <li>Apple A13 Bionic — модель осени 2019 года, 6-ядерный процессор ARM, использует
                                2-й
                                вариант
                                7-нанометрового техпроцесса TSMC. Содержит 8,5 млрд транзисторов.
                            </li>
                            <li>Apple A14 Bionic — модель осени 2020 года, 6-ядерный процессор ARM,
                                используется новый 5-нанометровый техпроцесс TSMC. Содержит 11,8 млрд
                                транзисторов.
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>
            <br>
        </div>
        <div class="moments">
            <div class="moments__container _container">
                <a th:href="@{/orders?country=australia}" class="buttonlog">Купить билеты</a>
            </div>
        </div>
    </div>
</div>
</div>

<script th:src="@{/jscripts/scriptmk.js}" type="text/javascript"></script>

</body>
</html>