<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Красава билеты уже не сможешь вернуть</h2>
<a th:href = "@{/}">Вернуться на главную</a>
</body>
</html>

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link media="all" rel="stylesheet" th:href="@{/css/loginstyle.css}" type="text/css"/>
</head>
<body>

<img th:src="@{/images/background.jpg}" alt="">
<div class="login-page">
    <p class="signin">Пасиба</p>
    <p class="message"><a th:href = "@{/}">Вернуться на главную</a></p>
</div>
</body>
</html>