<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.springframework.org/schema/security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>


    <script th:src="@{/jscripts/slick.js}"></script>
    <script th:src="@{/jscripts/script.js}"></script>
    <script th:src="@{/jscripts/header.js}"></script>

    <link media="all" rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/slick-theme.css}">
    <link rel="stylesheet" th:href="@{/css/slick.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-grid.css}">

    <title>Index Page</title>

</head>
<body>

<header class="headerm">
    <div class="containerm">
        <div class="headerm_body">
            <a href="@{/index}" class="headerm_logo">
                <img th:src="@{/images/logo12.png}" class="headerm_logo">
            </a>
            <div class="headerm_burger">
                <span></span>
            </div>
            <nav class="headerm_menu">
                <ul class="headerm_list">
                    <li>
                        <a sec:authorize="isAnonymous()" th:href="@{/login}" class="headerm_link">Войти</a>
                    </li>
                    <li>
                        <a sec:authorize="isAnonymous()" th:href="@{/registration}" class="headerm_link">Регистрация</a>
                    </li>
                    <li>
                        <p class="headerm_link" sec:authorize="hasAuthority('USER')">Добрый день, <span class="headerm_link" th:text="${user}"></span>
                    </li>
                    <li>
                    <form th:if="${user != 'anonymous'}" th:action="@{/logout}" method="post">
                        <input class="headerm_link" type="submit" value="Выйти">
                    </form>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<div class="topHeader">

    <div class="slider mainSlider">
        <div class="slide" th:style=" 'background: url(/images/1.jpeg); background-size: cover;'"></div>
        <div class="slide" th:style=" 'background: url(/images/2.jpg); background-size: cover;'"></div>
    </div>
</div>

<div class="container">
    <p>Some text</p>
    <p>Some text</p>
    <p>Some text</p>
    <p>Some text</p>
    <p>Some text</p>
    <p>Some text</p>
    <p>Some text</p>
    <p>Some text</p>
    <p>Some text</p>
    <p>Some text</p>
    <p>Some text</p>
    <p>Some text</p>
    <p>Some text</p>
    <p>Some text</p>
    <p>Some text</p>
    <p>Some text</p>
    <p>Some text</p>
    <p>Some text</p>
    <p>Some text</p>
    <p>Some text</p>
    <p>Some text</p>
    <p>Some text</p>
    <p>Some text</p>
    <p>Some text</p>
    <p>Some text</p>
    <p>Some text</p>
    <p>Some text</p>
    <p>Some text</p>
    <p>Some text</p>
    <p>Some text</p>
    <p>Some text</p>
    <p>Some text</p>
    <p>Some text</p>
    <p>Some text</p>
    <p>Some text</p>




</div>

<h2>Index Page</h2>

</body>
</html>