<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:sec="http://www.springframework.org/schema/security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link media="all" rel="stylesheet" th:href="@{/css/style.css}">
    <link media="all" rel="stylesheet" th:href="@{/css/profile_header.css}">

    <title>Adios Air</title>

</head>
<body>

<header class="headerm1">
    <div class="containerm">
        <div class="headerm_body">
            <a th:href="@{/}" class="headerm_logo">
                <img th:src="@{/images/logo12.png}" class="headerm_logo">
            </a>
            <div class="headerm_burger">
                <span></span>
            </div>
            <nav class="headerm_menu">
                <ul class="headerm_list">
                    <li>
                        <a sec:authorize="isAnonymous()" th:href="@{/login}" class="headerm_link">Войти</a>
                    </li>
                    <li>
                        <a sec:authorize="isAnonymous()" th:href="@{/registration}" class="headerm_link">Регистрация</a>
                    </li>
                    <li>
                        <p class="headerm_link" sec:authorize="hasAuthority('USER')">Добрый день, <span
                                class="headerm_link" th:text="${name}"></span>
                    </li>
                    <li>
                        <a sec:authorize="not isAnonymous()" th:href="@{/user}" class="headerm_link">Личный кабинет</a>
                    </li>
                    <li>
                        <form th:if="${user != 'anonymous'}" th:action="@{/logout}" method="post">
                            <input class="buttonlogout" type="submit" value="Выйти">
                        </form>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<header class="header">
    <div class="container">
        <div class="header_body">
            <a th:href="@{/}" class="header_logo">

            </a>
            <div class="header_burger">
                <span></span>
            </div>
            <nav class="header_menu">
                <ul class="header_list">
                    <li>
                        <a th:href="@{/australia}" class="headerm_link">Австралия</a>
                    </li>
                    <li>
                        <a th:href="@{/usa}" class="headerm_link">США</a>
                    </li>
                    <li>
                        <a th:href="@{/maldives}" class="headerm_link">Мальдивы</a>
                    </li>
                    <li>
                        <a th:href="@{/india}" class="headerm_link">Индия</a>
                    </li>
                    <li>
                        <a th:href="@{/emirates}" class="headerm_link">ОАЭ</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>


<div class="blocks">
    <div class="container_slider_css">
        <img class="photo_slider_css" th:src="@{/images/maldB.jpg}" alt="">
        <img class="photo_slider_css" th:src="@{/images/australiaM.jpg}" alt="">
        <img class="photo_slider_css" th:src="@{/images/yorkB.jpg}" alt="">
        <img class="photo_slider_css" th:src="@{/images/singaporeB.jpg}" alt="">
        <img class="photo_slider_css" th:src="@{/images/emiratesM.jpg}" alt="">
    </div>
    <div class="textdient">
        <h1>For a good vacation you need a good company. AdiosAir Company.</h1>
        <h2>Rest is our job.</h2>
    </div>
</div>

<div class="gr">
</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>

<script src="http://code.jquery.com/jquery-latest.min.js"></script>

<script th:src="@{/jscripts/header1.js}"></script>
<script th:src="@{/jscripts/script.js}"></script>
<script th:src="@{/jscripts/header.js}"></script>

</body>
</html>