<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:sec="http://www.springframework.org/schema/security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script th:src="@{https://unpkg.com/swiper/swiper-bundle.min.js}"></script>

    <script th:src="@{https://unpkg.com/swiper@6.6.2/swiper-bundle.min.js}"></script>

    <script th:src="@{/jscripts/scriptmk.js}"></script>


    <link media="all" rel="stylesheet" th:href="@{/css/stylemk.css}">
    <title>Title</title>
</head>
<body>

<div class="wrapper">

    <main class="page">
        <div class="page_wrapper">

            <div class="page_screen screen">
                <div class="screen_content">
                    <h1 class="screen_title screen_title_bg" data-swiper-parallax="50%"
                        data-swiper-parallax-opacity="0">Advanced Micro Devices
                    </h1>
                </div>
                <div class="screen_body">
                    <div class="screen_image" data-swiper-parallax="35%" data-swiper-parallax-scale="1.1">
                        <img th:src="@{/images/mald1.jpg}" alt="">
                    </div>
                </div>
            </div>

            <div class="page_screen screen">
                <div class="screen_content">
                    <h1 class="screen_title screen_title_bg" data-swiper-parallax="50%"
                        data-swiper-parallax-opacity="0">Apple
                    </h1>
                </div>
                <div class="screen_body">
                    <div class="screen_image" data-swiper-parallax="35%" data-swiper-parallax-scale="1.1">
                        <img th:src="@{/images/mald2.jpg}" alt="">
                    </div>
                </div>
            </div>

            <div class="page_screen screen">
                <div class="screen_content">
                    <h1 class="screen_title screen_title_bg" data-swiper-parallax="50%"
                        data-swiper-parallax-opacity="0">Qualcomm
                    </h1>
                </div>
                <div class="screen_body">
                    <div class="screen_image" data-swiper-parallax="35%" data-swiper-parallax-scale="1.1">
                        <img th:src="@{/images/mald3.jpg}" alt="">
                    </div>
                </div>
            </div>

            <div class="page_screen screen">
                <div class="screen_content">
                    <h1 class="screen_title screen_title_bg" data-swiper-parallax="50%"
                        data-swiper-parallax-opacity="0">MediaTek
                    </h1>
                </div>
                <div class="screen_body">
                    <div class="screen_image" data-swiper-parallax="35%" data-swiper-parallax-scale="1.1">
                        <img th:src="@{/images/mald4.jpg}" alt="">
                    </div>
                </div>
            </div>

            <div class="page_screen screen">
                <div class="screen_content">
                    <h1 class="screen_title screen_title_bg" data-swiper-parallax="50%"
                        data-swiper-parallax-opacity="0">Эльбрус
                    </h1>
                </div>
                <div class="screen_body">
                    <div class="screen_image" data-swiper-parallax="35%" data-swiper-parallax-scale="1.1">
                        <img th:src="@{/images/mald5.jpg}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="page_pagination"></div>
        <div class="page_scroll"></div>

    </main>

</div>

</body>
</html>