<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script th:src="@{https://unpkg.com/swiper/swiper-bundle.min.js}"></script>
    <script th:src="@{/jscripts/scriptmk.js}"></script>
    <link media="all" rel="stylesheet" th:href="@{/css/stylemk.css}">
    <link media="all" rel="stylesheet" th:href="@{/css/style.css}">
    <title>Title</title>
</head>
<body>

<div class="wrapper">
<header class="headerm">
    <div class="containerm">
        <div class="headerm_body">
            <a href="@{/index}" class="headerm_logo">
                <img th:src="@{/images/logo12.png}" class="headerm_logo">
            </a>
            <div class="headerm_burger">
                <span></span>
            </div>
            <nav class="headerm_menu">
                <ul class="headerm_list">
                    <li>
                        <a th:href="@{/login}" class="headerm_link buttonlog">Войти</a>
                    </li>
                    <li>
                        <a th:href="@{/registration}" class="headerm_link buttonlog">Регистрация</a>
                    </li>
                    <form th:if="${user != 'anonymous'}" th:action="@{/logout}" method="post">
                        <input class="headerm_link buttonlog" type="submit" value="logout">
                    </form>
                </ul>
            </nav>
        </div>
    </div>
</header>

    <main class="page">
        <div class="page_wrapper">


            <div class="page_screen screen">
                <div class="screen_content">
                    <h1 class="screen_title screen_title_bg" data-swiper-parallax="50%"
                        data-swiper-parallax-opacity="0">Intel Corporation</h1>
                </div>
                <div class="screen_body">
                    <div class="screen_image" data-swiper-parallax="35%" data-swiper-parallax-scale="1.1">
                    </div>
                </div>
            </div>


            <div class="page_screen screen">
                <div class="screen_content">
                    <h1 class="screen_title screen_title_bg" data-swiper-parallax="50%"
                        data-swiper-parallax-opacity="0">Advanced Micro Devices
                    </h1>
                </div>
                <div class="screen_body">
                    <div class="screen_image" data-swiper-parallax="35%" data-swiper-parallax-scale="1.1">
                    </div>
                </div>
            </div>

            <div class="page_screen screen">
                <div class="screen_content">
                    <h1 class="screen_title screen_title_bg" data-swiper-parallax="50%"
                        data-swiper-parallax-opacity="0">Apple
                    </h1>
                </div>
                <div class="screen_body">
                    <div class="screen_image" data-swiper-parallax="35%" data-swiper-parallax-scale="1.1">
                    </div>
                </div>
            </div>

            <div class="page_screen screen">
                <div class="screen_content">
                    <h1 class="screen_title screen_title_bg" data-swiper-parallax="50%"
                        data-swiper-parallax-opacity="0">Qualcomm
                    </h1>
                </div>
                <div class="screen_body">
                    <div class="screen_image" data-swiper-parallax="35%" data-swiper-parallax-scale="1.1">
                    </div>
                </div>
            </div>

            <div class="page_screen screen">
                <div class="screen_content">
                    <h1 class="screen_title screen_title_bg" data-swiper-parallax="50%"
                        data-swiper-parallax-opacity="0">MediaTek
                    </h1>
                </div>
                <div class="screen_body">
                    <div class="screen_image" data-swiper-parallax="35%" data-swiper-parallax-scale="1.1">
                    </div>
                </div>
            </div>

            <div class="page_screen screen">
                <div class="screen_content">
                    <h1 class="screen_title screen_title_bg" data-swiper-parallax="50%"
                        data-swiper-parallax-opacity="0">Эльбрус
                    </h1>
                </div>
                <div class="screen_body">
                    <div class="screen_image" data-swiper-parallax="35%" data-swiper-parallax-scale="1.1">
                    </div>
                </div>
            </div>
        </div>
        <div class="page_pagination"></div>
        <div class="page_scroll"></div>

    </main>

</div>

<script th:src="@{https://unpkg.com/swiper/swiper-bundle.min.js}"></script>
<script th:src="@{/jscripts/scriptmk.js}"></script>

</body>
</html>