<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:sec="http://www.springframework.org/schema/security">
<head>

    <!-- Заголовок страницы в браузере -->
    <title>Мальдивы</title>

    <meta charset="UTF-8">
    <!-- Адаптив -->
    <meta name="viewport" content="width=device-width">
    <style>
        a {
            text-decoration: none;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            th:src="@{https://code.jquery.com/jquery-3.4.1.slim.min.js}"></script>

    <script th:src="@{/jscripts/header.js}"></script>

    <!-- Подключаем CSS -->
    <link rel="stylesheet" href="css/style.css" th:href="@{css/style.css}">
    <link rel="stylesheet" href="css/style.css" th:href="@{css/stylemk.css}">
    <!-- Кодировка страницы -->

    <!-- Адаптив -->
</head>
<!-- Отображаемое тело страницы -->
<body>
<!-- Оболочка для демонстрации -->
<header class="headerm">
    <div class="containerm">
        <div class="headerm_body">
            <a th:href="@{/}" class="headerm_logo">
                <img th:src="@{/images/logo12.png}" class="headerm_logo">
            </a>
            <div class="headerm_burger">
                <span></span>
            </div>
            <nav class="headerm_menu">
                <ul class="headerm_list">
                    <li>
                        <a sec:authorize="isAnonymous()" th:href="@{/login}" class="headerm_link">Войти</a>
                    </li>
                    <li>
                        <a sec:authorize="isAnonymous()" th:href="@{/registration}" class="headerm_link">Регистрация</a>
                    </li>
                    <li>
                        <p class="headerm_link" sec:authorize="hasAuthority('USER')">Добрый день, <span
                                class="headerm_link" th:text="${name}"></span>
                    </li>
                    <li>
                        <a sec:authorize="not isAnonymous()" th:href="@{/user}" class="headerm_link">Личный кабинет</a>
                    </li>
                    <li>
                        <form th:if="${user != 'anonymous'}" th:action="@{/logout}" method="post">
                            <input class="buttonlogout" type="submit" value="Выйти">
                        </form>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>


<sec_head1 class="sec_head1">
    <sec_nav class="sec_head_menu sec_menu">
        <a class="sec_menu_link"></a>
        <a th:href="@{/australia}" class="sec_menu_link">Австралия</a>
        <a class="sec_menu_link"></a>
        <a th:href="@{/usa}" class="sec_menu_link">США</a>
        <a class="sec_menu_link"></a>
        <a th:href="@{/maldives}" style="color:#FFE47A" class="sec_menu_link">Мальдивы</a>
        <a class="sec_menu_link"></a>
        <a th:href="@{india}" class="sec_menu_link">Индия</a>
        <a class="sec_menu_link"></a>
        <a th:href="@{emirates}" class="sec_menu_link">ОАЭ</a>
        <a class="sec_menu_link"></a>
        <a th:href="@{/orders?country=maldives}" class="sec_menu_link tickbut">Билеты</a>
        <a class="sec_menu_link"></a>
    </sec_nav>
</sec_head1>

<!-- Контент -->
<div class="fullscreen">
    <div class="fullscreen__content">
        <h1 class="fullscreen__title _anim-items _anim-no-hide">Мальдивы</h1>
        <div class="fullscreen__text _anim-items _anim-no-hide">Россыпь больших и маленьких коралловых островов в
            Индийском океане. Более тысячи участков суши собраны на 26 атоллах, покрытых белоснежной пудрой песка и
            роскошной зеленью. Мальдивские острова – общепризнанный роскошный курорт, куда можно сбежать от суеты и
            проблем. Местным жителям удалось создать максимальный комфорт с минимальным вмешательством в окружающую
            среду. На каждом острове действует ограничение по максимальной численности туристов, поэтому чрезмерной
            суеты и шумных толп здесь не бывает.
        </div>
    </div>
    <div class="fullscreen__image">
        <img th:src="@{/images/maldivesM.jpg}" alt="">
    </div>
</div>
<div class="page">
    <div class="text">
        <div class="text__container _container">
            <h2 class="text__title">География</h2>
            <div class="text__item _anim-items">
                <p class="_anim-show">
                    С высоты птичьего полета Мальдивы напоминают несколько цепочек, растянувшихся с севера на юг и с
                    запада на восток. Острова выросли из кораллов, которые образуются в кратерах подводных вулканов,
                    поэтому часто имеют форму кольца или шара. Иногда отдельные островки объединяются или часть атолла
                    отрывается, поэтому определить точное их количество невозможно.

                    Мальдивская Республика является самым низким государством. Максимальная высота суши достигает 2,4 м.
                    Вход в море очень плавный, вброд от берега можно пройти несколько сот метров. Общая площадь
                    территории составляет 90 000 м², но сами острова составляют только 3% от этой величины (менее 300
                    м²).
                </p>
                <br>
                <div class="text__item _anim-items">
                    <h2 class="text__title _anim-show">Популярные курорты</h2>
                    <p class="_anim-show">
                        На территории Мальдив выделяют несколько зон, где любят отдыхать туристы. Наибольшей
                        популярностью
                        пользуются Северные атоллы. Вся активность наблюдается на островах, здесь много отелей и
                        развлечений, а вот водная поверхность почти безлюдна.
                    </p>
                    <br>
                    <div class="M2">
                        <img th:src="@{/images/mald1.jpg}">
                    </div>
                </div>
                <br>
                <div class="text__item _anim-items">
                    <div class="text__item _anim-items">
                        <p class="_anim-show">
                            Главным атоллом является Северный Мале, где расположена столица Мальдив – город Мале. На
                            пятидесяти небольших островках много уютных лагун с бирюзовой водой и несколько километров
                            белоснежных песчаных пляжей.
                            <br>
                            <br>
                            Для уединенного отдыха подойдет Южный Мале. Из 30 островов местные жители живут только на
                            трех, еще 17 полностью заняты отелями и виллами. Добраться к своему домику можно на
                            скоростном катере.
                            <br>
                            <br>
                            Южные атоллы менее популярны у туристов и почти безлюдны, зато в прибрежных водах постоянно
                            снуют небольшие кораблики. Самым популярным из группы является Адду Атолл. На нем находятся
                            густые заросли цветущих кустарников и банановые плантации.
                            <br>
                            <br>
                            Дальние Южные Атоллы отделены линией экватора от основной части государства. Они заселены, в
                            основном, местными жителями. Здесь путешественники могут увидеть нетуристические Мальдивы.
                            Из-за отсутствия инфраструктуры, подводный мир отличается естественной красотой, поэтому
                            дайверы устремляются в эту часть островов особенно часто.
                        </p>
                    </div>
                </div>
                <br>
                <div class="text__item _anim-items">
                    <div class="text__item _anim-items">
                        <h2 class="text__title _anim-show">Климат на Мальдивах</h2>
                        <p class="_anim-show">
                            Мальдивские острова расположены в экваториальном климатическом поясе, поэтому сезонные
                            колебания здесь отсутствуют. Погода на Мальдивах почти всегда солнечная и теплая.
                            Температура воздуха колеблется в пределах +24…+33 °C.
                            <br>
                            <br>
                            В январе-марте наступает пора северо-восточных муссонных ветров, которые приносят сухой
                            воздух. В мае-декабре юго-западные ветры повышают влажность. Среднегодовое количество
                            осадков составляет 1900 мм. Даже влажный сезон — не повод отказываться от поездки на
                            Мальдивы. Большинство осадков выпадает в ночное время, а утреннее солнце быстро все
                            высушивает.
                        </p>
                    </div>
                </div>
                <br>
                <div class="text__item _anim-items">
                    <div class="text__item _anim-items">
                        <h2 class="text__title _anim-show">Флора и фауна Мальдив</h2>
                        <p class="_anim-show">
                            Благодаря влажному и теплому климату Мальдивы утопают в зелени. Буйная растительность сплошь
                            покрыта яркими цветами и сочными плодами. В любом уголке островов встречаются кокосовые
                            пальмы и хлебные деревья. Также можно обнаружить заросли лайма, папайи, манго и бахчи с
                            арбузами.
                            <br>
                            <br>
                            Фикус, пандан, бамбук и эвкалипт достигают просто гигантских размеров. Поблизости от
                            туристических троп в обилии встречаются цветущие розовые кусты. Этот цветок является
                            символом Мальдивской Республики.
                            <br>
                            <br>
                            Среди густой растительности постоянно слышен щебет птиц. Крачки, чайки, бекасы, цапли и
                            морские фрегаты облюбовали райские острова для гнездовья. Яркие стайки попугаев и других
                            певчих птиц совсем не боятся людей и могут оккупировать туристов во время отдыха. А вот
                            вредных и неприятных насекомых на Мальдивах очень мало.
                            <br>
                            <br>
                            Водный мир не отстает по своему разнообразию. Разноцветные рыбки, морские звезды и кораллы
                            замысловатой формы встречаются в огромном количестве. Красных кораллов стоит опасаться, даже
                            легкое прикосновение сулит жгучую боль. В здешних водах встречаются более тысячи
                            разновидностей рыб, среди них скаты, акулы, рыбы-обманки, рыбы-ангелы, рыбы-петухи, мурены,
                            рыбы-баллисты и другие. У побережья опасных обитателей моря не бывает, поэтому бояться за
                            свою жизнь и здоровье не стоит.
                        </p>
                    </div>
                </div>
                <br>
                <div class="text__item _anim-items">
                    <div class="text__item _anim-items">
                        <h2 class="text__title _anim-show">Население</h2>
                        <p class="_anim-show">
                            Численность населения Мальдив составляет 390 тысяч человек, треть из них сосредоточена в
                            столице республики. Официальным языкам является дивехи, но дети с раннего возраста изучают
                            арабский язык, на нем же читаются все молитвы. Некоторые жители могут бегло разговаривать
                            по-английски. Из-за территориальных особенностей туристы мало пересекаются с коренными
                            жителями.
                            <br>
                            <br>
                            Почти все мальдивцы исповедуют ислам и являются глубоко религиозными людьми. Это
                            обуславливает традиции жителей. Так, туристам не стоит выходить в город или местную деревню
                            в слишком открытой одежде. Рекомендуется прикрывать тело от плеч до колен. Мальдивцы не
                            употребляют алкоголь, поэтому не стоит стремиться напоить новых знакомых.
                        </p>
                    </div>
                </div>
                <br>
                <div class="text__item _anim-items">
                    <div class="text__item _anim-items">
                        <h2 class="text__title _anim-show">Кухня</h2>
                        <p class="_anim-show">
                            Мальдивские блюда необычайно вкусные и ароматные. Основными ингредиентами являются
                            морепродукты и рис. Их сдабривают мякотью кокоса, кари, другими ароматными пряностями и
                            острыми соусами. Рыбу не подают сразу после улова, а предварительно вялят или солят.
                            Наибольшей популярностью пользуются такие блюда:
                        </p>
                    </div>
                </div>
                <div class="list">
                    <div class="list__container _container">
                        <ul class="list__items">
                            <ul class="list__item _anim-items">
                                <li>хикимас – сушеные и копченые рыбные тушки;
                                </li>
                                <li>гарудия – суп с рыбой и рисом;
                                <li>баджия – рыбный пирог с луком и кокосом;
                                </li>
                                <li>гулу – котлеты с тунцом и кокосом;
                                </li>
                                <li>рихаукуру – паштет из рыбы.
                                </li>
                            </ul>
                        </ul>
                    </div>
                </div>
                <br>
                <br>
                <div class="text__item _anim-items">
                    <div class="text__item _anim-items">
                        <p class="_anim-show">
                            Мясо островитяне употребляют только по праздникам и отдают предпочтение курице. Из десертов
                            преобладают свежие фрукты и блюда из кокоса (желе, печенье).
                            <br>
                            <br>
                            Из напитков мальдивцы предпочитают чай (зеленый с сахаром и молоком) и свежевыжатые соки.
                            Туристов не ограничивают в употреблении алкоголя, поэтому в барах присутствует широкий
                            ассортимент спиртных напитков.
                        </p>
                    </div>
                </div>
                <div class="list">
                    <div class="list__container _container">
                        <h2 class="list__title">Достопримечательности</h2>
                        <ul class="list__items">
                            <ul class="list__item _anim-items">
                                <li>Парк Султана.
                                </li>
                                <li>Дворец Мулиаге.
                                </li>
                                <li>Мечеть Мукуру.
                                </li>
                                <li>Мечеть Бандара
                                </li>
                                <li>Усыпальница Медузияраи
                                </li>
                            </ul>
                        </ul>
                    </div>
                </div>
                <div class="text__item _anim-items">
                    <div class="M2">
                        <img th:src="@{/images/maldpark.jpg}">
                    </div>
                </div>
                <div class="text__item _anim-items">
                    <div class="M2">
                        <img th:src="@{/images/mald2.jpg}">
                    </div>
                </div>
                <div class="text__item _anim-items">
                    <div class="M2">
                        <img th:src="@{/images/mald3.jpg}">
                    </div>
                </div>
                <div class="text__item _anim-items">
                    <div class="text__item _anim-items">
                        <h2 class="text__title _anim-show">Чем заняться?</h2>
                        <p class="_anim-show">
                            Мальдивские острова предназначены для отдыха от суеты и созерцания прекрасной природы. Вдали
                            от заводских труб, шумных мегаполисов и сырости в организме просыпаются новые силы. Помогут
                            расслабиться сеансы массажа и рефлексотерапии, которые предлагают в отелях и SPA-центрах.
                            <br>
                            <br>
                            Когда тело сбросит накопившуюся усталость, можно заняться дайвингом или сноркелингом, чтобы
                            полюбоваться на изумительные красоты подводного мира. Среди спокойной глади Индийского
                            океана найдется несколько мест для любителей серфинга и виндсерфинга. На берегу можно
                            поиграть в пляжный волейбол и другие подвижные игры. Те, кто предпочитает пассивный отдых,
                            могут заказать экскурсию на яхте или отправиться на рыбалку. Чтобы поближе познакомиться с
                            местными жителями, стоит посетить одну из мальдивских деревень.
                        </p>
                    </div>
                </div>
                <div class="text__item _anim-items">
                    <div class="text__item _anim-items">
                        <h2 class="text__title _anim-show">Как добраться?</h2>
                        <p class="_anim-show">
                            На Мальдивы можно добраться только по воздуху. Международный аэропорт в Мале принимает рейсы
                            из различных уголков планеты. Дважды в неделю в столицу прибывают самолеты из Москвы.
                            <br>
                            <br>
                            Заранее оформлять документы перед поездкой на Мальдивские острова не нужно. В аэропорту при
                            регистрации ставят бесплатную туристическую визу сроком 30 дней.
                        </p>
                    </div>
                </div>
            </div>
            <div class="moments">
                <div class="moments__container _container">
                    <a th:href="@{/orders?country=maldives}" class="buttonlog">Купить билеты</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/jscripts/scriptmk.js}" type="text/javascript"></script>

</body>
</html>