<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:sec="http://www.springframework.org/schema/security">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>

    <link media="all" rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>



<table>
    <tbody>
    <tr th:if="${orders.empty}">
        <td colspan="2"> No Cars Available </td>
    </tr>
    <tr th:each="order : ${orders}">
        <td><p th:text="${order.getOrderName()}"> Название заказа</p></td>
        <td><p th:text="${order.getDate()}"> Дата вылета </p></td>
        <td><a th:href = "@{'/reserve?id=' + ${order.getId()}}">Зарезервировать</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>