<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:sec="http://www.springframework.org/schema/security">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>

    <link media="all" rel="stylesheet" th:href="@{/css/style.css}">
    <link media="all" rel="stylesheet" th:href="@{/css/stylemk.css}">
</head>
<body>

<!--<sec_head1 class="sec_head1">
    <sec_nav class="sec_head_menu sec_menu">
        <a class="sec_menu_link"></a>
        <a href="intel.html" class="sec_menu_link">Австралия</a>
        <a class="sec_menu_link"></a>
        <a href="amd.html" class="sec_menu_link">США</a>
        <a class="sec_menu_link"></a>
        <a href="apple.html" class="sec_menu_link">Мальдивы</a>
        <a class="sec_menu_link"></a>
        <a href="qualcomm.html" class="sec_menu_link">Индия</a>
        <a class="sec_menu_link"></a>
        <a href="mediatek.html" class="sec_menu_link">ОАЭ</a>
        <a class="sec_menu_link"></a>
    </sec_nav>
</sec_head1>
-->
<table>
    <tbody>
    <tr th:if="${orders.empty}">
        <td colspan="2"> No Cars Available </td>
    </tr>
    <tr th:each="order : ${orders}">
        <td><p th:text="${order.getOrderName()}"> Название заказа</p></td>
        <td><p th:text="${order.getDate()}"> Дата вылета </p></td>
        <td><a th:href = "@{'/reserve?id=' + ${order.getId()}}">Зарезервировать</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>