<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link media="all" rel="stylesheet" th:href="@{/css/regstyle.css}" type="text/css"/>
</head>
<body>
<img th:src="@{/images/background.jpg}" alt="">
<div class="registration-page">
    <p class="registration">Регистрация</p>
    <form class="registration-form" th:action="@{/registration}" method="post" autocomplete="off">
        <input type="text" name="username" placeholder="Имя пользователя" required>
        <input type="text" name="password" placeholder="Пароль" required>
        <input type="text" name="name" placeholder="Имя" required>
        <input type="text" name="email" placeholder="Адрес электронной почты" required>
        <input type="text" name="phone" placeholder="Номер телефона" required>
        <button type="submit">зарегистрироваться</button>
    </form>
    <p class="message">Уже есть аккаунт? <a th:href="@{/login}">Войти</a></p>
</div>
</body>
</html>